<div class="home-container">

	<div class="container slider">
		<h3>Slider</h3>
		<div ng-if="cat.image && cat.image.Host !== ''" class="slide" ng-repeat="cat in parentCats">
			<img ng-src="[[imageToString(cat.image)]]" alt="">
			<span class="title">[[ cat.title ]]</span>
		</div>
		<div ng-if="cat.image && cat.image.Host !== ''" class="slide" ng-repeat="cat in parentCats">
			<img ng-src="[[imageToString(cat.image)]]" alt="">
			<span class="title">[[ cat.title ]]</span>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<h1>DO IT WITH STYLE. DO IT WITH ARIES</h1>
				<p>
					They change the rules, so we make up our own. They put up road blocks; we find a way around. They tell us there is no path ahead; we blaze a trail. At ARIES, we get revved up about going off the beaten path. From our Pro Series grille guards and modular
					Jeep bumpers to our StyleGuard&trade; floor liners and Seat Defenders, ARIES offers freedom of customization and a perfect fit for your vehicle. So whatever terrain you choose to conquer, do it with style and do it with ARIES.
				</p>
			</div>
			<div class="col-md-6 col-lg-6">

                <div class="row whats-new" ng-click="showWhatsNewLightbox()">
                    <img src="https://storage.googleapis.com/aries-website/whatsnew/What's-New-Banner.png" alt="What's New with ARIES" class="header">
                    <div class="callout">
                        <img src="https://storage.googleapis.com/aries-website/whatsnew/ARIES-Floor-Liner-Artistic-Black%20(20).jpg" alt=" Introducing StyleGuard Floor Liners" class="styleguard">
                        <span>Introducing StyleGuard&trade; Floor Liners</span>
                    </div>
                </div>

				<div class="row whats-new">
					<a href="/envision" class="envision">
						<img src="https://storage.googleapis.com/aries-website/whatsnew/Envision-Website-Graphic.png" alt="Envision ARIES">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container catalogs" ng-if="catalogs.length > 0">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 catalog" ng-repeat="cat in catalogs">
			<img src="[[cat.image]]" alt="[[cat.title]]">
			<div>
				<h3>[[cat.title]]</h3>
				<a href="[[cat.link]]" class="red-transparent-button" title="Download [[cat.title]]">Download</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12" ng-controller="PartController">
				<h3>FEATURED PRODUCTS</h3>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 featuredProducts">
					<div ng-repeat="p in featuredProducts | limitTo:5" class="featuredProd col-xs-12 col-md-2 col-5">
						<h4><a href="/part/[[p.part_number]]">[[p.short_description]]</a></h4>
						<a href="/part/[[p.part_number]]">
							<img ng-repeat="img in p.images | filter:{sort:'a'} | filter:{size:'Grande'} | limitTo:1" src="http://www.curtmfg.com[[img.path.Path]]" class="img-responsive" alt="Image for [[p.title]]" />
						</a>
						<hr class="visible-xs-block" />
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>FROM OUR CUSTOMERS</h3>
				<div class="col-md-12 testimonials">
					<div ng-repeat="t in testimonials | limitTo:2" class="testimonial col-md-6">
						<h4>"[[t.title | uppercase]]"</h4>
						<p>[[t.content]]</p>
						<span class="customerName">- [[t.firstName | uppercase]] [[t.lastName | uppercase]], [[t.location | uppercase]]</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
