<div class="home-container">

	<div class="heading" ng-if="parentCats.length > 0">
		<h3>Product Categories</h3>
		<span class="line"></span>
	</div>
	<div class="container-fluid fluid-tiles"  ng-if="parentCats.length > 0">
		<a href="/category/[[cat.id]]" style="background-image: url([[imageToString(cat.image)]])" class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cat in parentCats">
			<span class="title">
				<span class="shop">Shop</span>
				[[ cat.title ]]
			</span>
			<div></div>
		</a>
		<div class="clearfix"></div>
	</div>


	<!-- <div class="heading" ng-if="parentCats.length > 0">
		<h3>Product Categories</h3>
		<span class="line"></span>
	</div>
	<div class="container-fluid tiles"  ng-if="parentCats.length > 0">
		<a href="/category/[[cat.id]]" style="background-image: url([[imageToString(cat.image)]])" class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cat in parentCats">
			<span class="title">
				<span class="shop">Shop</span>
				[[ cat.title ]]
			</span>
			<div></div>
		</a>
		<div class="clearfix"></div>
	</div> -->

	<div class="heading">
		<h3>Latest News</h3>
		<span class="line"></span>
	</div>
	<div class="container-fluid news tiles">
		<a class="tile" href="/envision">
			<div class="image">
				<img src="https://storage.googleapis.com/aries-website/whatsnew/Envision-Website-Graphic.png" alt="envision ARIES">
			</div>
			<button>
				<span class="glyphicon glyphicon-arrow-right"></span>
			</button>
			<div class="content">
				<h3>envision ARIES</h3>
				<p>Visually customize your truck</p>
			</div>
		</a>
		<a class="tile" href="/category/321">
			<div class="image">
				<img src="https://storage.googleapis.com/aries-website/whatsnew/ARIES-Floor-Liner-Artistic-Black%20(20).jpg" alt="Introducing StyleGuard&trade; Floor Liners">
			</div>
			<button>
				<span class="glyphicon glyphicon-arrow-right"></span>
			</button>
			<div class="content">
				<h3>Introducing StyleGuard&trade; Floor Liners</h3>
				<p>ARIES StyleGuard&trade; floor liners with patented OmniGrip&trade; fibers are the new wave in automotive interior.</p>
			</div>
		</a>
	</div>

	<div class="heading" ng-if="catalogs.length > 0">
		<h3>Product Catalogs</h3>
		<span class="line"></span>
	</div>
	<div class="container-fluid catalogs tiles" ng-if="catalogs.length > 0">
		<a ng-repeat="cat in catalogs" class="tile" href="[[ cat.link ]]" target="_blank">
			<div class="image">
				<img src="[[ cat.image ]]" alt="[[ cat.title ]]">
			</div>
			<button>
				<span class="glyphicon glyphicon-arrow-right"></span>
				<span class="glyphicon glyphicon-save"></span>
			</button>
			<div class="content">
				<h3>[[ cat.title ]]</h3>
			</div>
		</a>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-12" ng-controller="PartController">
				<h3>FEATURED PRODUCTS</h3>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 featuredProducts">
					<div ng-repeat="p in featuredProducts | limitTo:5" class="featuredProd col-xs-12 col-md-2 col-5">
						<h4><a href="/part/[[p.part_number]]">[[p.short_description]]</a></h4>
						<a href="/part/[[p.part_number]]">
							<img ng-repeat="img in p.images | filter:{sort:'a'} | filter:{size:'Grande'} | limitTo:1" src="http://www.curtmfg.com[[img.path.Path]]" class="img-responsive" alt="Image for [[p.title]]" />
						</a>
						<hr class="visible-xs-block" />
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>FROM OUR CUSTOMERS</h3>
				<div class="col-md-12 testimonials">
					<div ng-repeat="t in testimonials | limitTo:2" class="testimonial col-md-6">
						<h4>"[[t.title | uppercase]]"</h4>
						<p>[[t.content]]</p>
						<span class="customerName">- [[t.firstName | uppercase]] [[t.lastName | uppercase]], [[t.location | uppercase]]</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
