nav {
	background-color: black;
	height: 35px;
	width: 100%;

	ul.nav > li {
		display: inline-block;
		> a {
			font-size: 12px;
		}
	}

	form {
		input {
			background: transparent;
			border: 2px solid white;
			border-radius: 4px;
		}
		button[type=submit] {
			background-color: transparent;
			color: white;
			transition: color .3s ease-in;

			&:hover {
				border-color: black;
				background-color: transparent;
				color: $newRed;
			}
		}
	}
}

.home-nav {
	background-color: transparent;
	box-shadow: none;
	height: 540px;

	.video-container {
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    overflow: hidden;
	    z-index: -100;

		video {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    width: auto;
		    height: auto;
		    min-width: 100%;
		    min-height: 100%;
		    -webkit-transform: translate(-50%, -50%);
		       -moz-transform: translate(-50%, -50%);
		        -ms-transform: translate(-50%, -50%);
			    transform: translate(-50%, -50%);
			background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
			background-size: cover;
			transition: 1s opacity;
		}
	}

	.lookup-container {
		background-color: transparent;
		padding: 0;
		margin-top: 12.5px;

		.lookup {
			margin-left: 0;
		}
	}

	.content-container {
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    overflow: hidden;
	    z-index: -100;
		transition: background .5s ease-in;

		&.hover {
			background: rgba(0, 0, 0, 0.8);
		}

		.bar {
			// background: rgba(245,245,245,.8);
			background: rgb(255, 255, 255);
			margin: 20px auto;
			border-radius: 4px;
			box-shadow: 0 2px 12px #333;
			border: 1px solid #ccc;
		}

		.navbar-brand {
			width: 250px;
			height: 100%;
		}

		ul > li {
			> a {
				font-size: 16px;

				&:hover,
				&:active,
				&:focus {
					background: transparent;
				}
			}

			> ul {
				border-bottom: 3px solid $newRed;
				border-radius: 0 0 4px 4px;
			}
		}

	}
}

.home-container{

	.row.whats-new{
		padding: 20px 15px 0 15px;
		max-width: 100%;
		margin:auto;

		img.header{
			max-width: 100%;
		}

		.envision img {
			max-width: 100%;
		}

		.callout {
			position: relative;
			img {
				margin-top: 10px;
				max-width: 100%;
				opacity: 0.6;
			}
			span{
				position: absolute;
				bottom: 0;
				left: 0;
				display:block;
				width: 100%;
				padding: 5px 0;
				text-align: center;
				font-size: 20px;
				background-color: rgb(234, 234, 234);
				background-color: rgba(234, 234, 234, 0.7);
			}
		}
	}

	.catalogs{
		margin: 25px auto;
		text-align: center;
		text-transform: uppercase;
	}

	.featuredProducts {
		margin-left:auto;
		margin-right:auto;
		margin-top:8px;
		text-align:center;
		background-color:#ffffff;
		-webkit-box-shadow: 1px 0 10px 2px #ccc;
		-moz-box-shadow: 1px 0 10px 2px #ccc;
		box-shadow: 1px 0 10px 2px #ccc;

		@media (min-width: 992px){
			.col-5{
				width:20%;
			}
		}
		.featuredProd{
			img{
				margin-left:auto;
				margin-right:auto;
			}
			h4{
				color: $altRed;
				font-size:20px;
				font-weight:bold;
			}
		}
	}

	.testimonials {
		margin-bottom:30px;
		.testimonial{
			h4{
				color: $altRed;
				font-size:24px;
				font-weight:700;
			}
			p{
				margin: 0 0 2px;
			}
			.customerName{
				color: #000000;
				font-weight:bold;
				margin-top:0px;
				font-size:16px;
			}
		}
	}
}

@media (min-width: 760px){
	.home-container{
		.row.whats-new{

			.callout {
				span{
					font-size: 32px;
				}
			}
		}
	}

}
